body{
	overflow-x:hidden;
	width:100%;
}
#wrapper{
	color:black;
	background: black;
	font-family:Open Sans;
	overflow-x:hidden;
	width:100%;

}

header{
	width:100%;
	height:250px;
	border:1px solid black;
	border-bottom:white;
	position: relative;
}

#name{
	margin-top:20px;
	color:white;
	margin-left:70px;
	font-size:30px;
	font-family:Cuprum;
}

#cmdTopRight1{
	position:absolute;
	right:40px;
	top:50px;
	text-decoration:none;
	width:13.5%;
}
#cmdTopRight1:hover{
	color:black;
}
#cmdTopRight2{
	position:absolute;
	right:40px;
	top:100px;	
	text-decoration:none;
	width:13.5%;
}
#cmdTopRight2:hover{
	color:white;
}
#cmdTopRight3{
	position:absolute;
	right:40px;
	top:150px;
	text-decoration:none;
	width:13.5%;
}
#cmdTopRight3:hover{
	color:white;
}
#cmdTopRight4{
	position:absolute;
	right:40px;
	top:200px;
	text-decoration:none;
	width:13.5%;
}
#cmdTopRight4:hover{
	color:white;
}
#headline{
	font-family:Josefin Sans;
	font-size:25px;
	margin-top:20px;
	margin-left:40px;
	color:white;
	padding-top:15px;
	background:rgba(0,0,0,0.3);
	height:40px;
	width:21%;
	padding-left:30px;
}

#release{
	font-family:Josefin Sans;
	font-size:40px;
	margin-top:150px;
	margin-left:39%;
	text-align: center;
	color:white;
	padding-top:15px;
	background:rgba(20,20,20,0.9);
	height:50px;
	width:20%;
	font-weight: bold;
}

#ohloh{
	position:absolute;
	right:40px;
	top:10px;
}

section{
	position:relative;
	width:100%;
	padding:20px;
	color:gray;
	background:white;
}

#social{
	position:absolute;
	right:20px;
	bottom:10px;
}

#facebook{
	width:45%;
	float:left;
	margin-left:5%;
}

#twitter{
	width:45%;
	float:left;
}


footer{
	font-family:Open Sans;
	color:silver;
	height:150px;
	border:1px solid rgb(10,10,10);
	padding-left:20px;
	background:black;
	position: relative;
}

nav a{
	margin-right: 10px;
	text-decoration: none;
}
