# Prevent git from showing duplicate names with commands like "git shortlog"
# See the manpage of git-shortlog for details.
# The syntax is:
# Name that should be used <email that should be used> Bad name <bad email>
#
# You can skip Bad name if it is the same as the one that should be used, and is unique.
#
# This file is up-to-date if the command git log --format="%aN <%aE>" | sort -u
# gives no duplicates.
sarwarc <chahal.sarwar98@gmail.com> LivingStore <livingstore@livingstore.(none)> 
sarwarc <chahal.sarwar98@gmail.com> Sarwar Chahal <livingstore@users.noreply.github.com>
sarwarc <chahal.sarwar98@gmail.com> Sarwar Chahal <sarwarc@users.noreply.github.com>
sarwarc <chahal.sarwar98@gmail.com> livingstore <chahal.sarwar98@gmail.com>

